@font-face {
    font-family: 'ITC Lubalin Graph Std';
    src: url('LubalinGraphStd-Book.woff2') format('woff2'),
        url('LubalinGraphStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Lubalin Graph Std';
    src: url('LubalinGraphStd-Demi.woff2') format('woff2'),
        url('LubalinGraphStd-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

