@font-face {
    font-family: 'helvetica';
    src: url('./Fonts/helvetica_neue_lt_std_33_thin_extended_oblique-webfont.woff2') format('woff2'),
         url('./Fonts/helvetica_neue_lt_std_33_thin_extended_oblique-webfont.woff') format('woff');
    font-weight: 1000;
    font-style: normal;

}

.sidebar {
    font-family: 'helvetica';
    width: 120px;
    height: 100vh;
    position: fixed;
    left: 25;
    margin-left: 2%;
    top: 0;
    background-color: rgb(246, 238, 227);
    color: rgb(255, 70, 64);
    padding: 3px;
    font-size: 1.1vw;
  }
  
  
  .sidebar ul {
    margin-top: 35%;
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    border-bottom: 2px solid rgb(255, 70, 64);
    transition: 0.1s;
  }
  